.hub-container{
    width: 96vw;
    height: 90vh;
    padding: 0 2vw;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hub-details{
    margin: 10vh 0;
    height: 50vh;
    display: flex;
    flex-direction: column;
}
