//COLOUR VARIABLES
$bittersweet: #FF6F59;
$slate: #254441;
$zomp: #43AA8B;
$sage: #B2B09B;
$red: #EF3054;

$grey: #1E1E1E;
$black: #1C1917;
$yellow: #DE8E2B;
$white: #FFFFFF;
$blue: #3DAFD1;
$dark-blue: #1F2937;
$dark-text: #222410;

//FONT SIZE VARIABLES
$nav-button: 1.2rem;

//SPACING VARIABLES
